@import "../../assets/scss/mq";
@import "../../assets/scss/mixins";
@import "../../assets/scss/shadows";
$radius: 15px 15px 0 0;

.article {
  @extend .shadow-dp1;
  border-radius: $radius;
  transition: box-shadow 0.5s,
              transform 0.5s;
  position: relative;
  height: 100%;

  &:hover {
    @extend .shadow-dp2;
    transform: scale(1.01);
  }

  .heading {
    position: relative;
  }

  .content {
    font-size: 1.3em;

    .text {
      margin: 0;
    }

    .date {
      text-align: right;
    }
  }

  .contentBody {
    margin-bottom: 1em;
  }

  .image {
    border-radius: $radius;
    width: 100%;
    height: 100%;
  }

  .imageContainer {
    height: 270px;
  }

  .ribbon {
    @include same(bottom left right, 0);
    position: absolute;

    border-radius: 0 0 $radius $radius;
    padding: 1rem 0;
    background-color: rgba(#000, 0.6);

    @include from(md) {
      padding: 2.3rem 0 1.55rem;
    }

    .header {
      margin: 0;
      text-align: center;
    }
  }
}
