@import "../../assets/scss/mq";
@import "../../assets/scss/mixins";
@import "../../assets/scss/shadows";
$radius: 15px;

.article {
  @extend .shadow-dp1;
  border-radius: $radius;
  transition: box-shadow 0.5s,
              transform 0.5s;
  position: relative;

  height: 100%;
  background: rgba(#000, 0.6) no-repeat center/cover;
  background-blend-mode: multiply;

  &:hover {
    @extend .shadow-dp2;
    transform: scale(1.01);
  }

  .heading {
    position: relative;
  }

  .text {
    margin: 0;
  }

  .date {
    text-align: right;
  }

  .contentBody {
    margin: 1em 0;
    height: 7em;
    font-size: 1.1rem;
  }

  .image {
    border-radius: $radius;
    width: 100%;
    height: 100%;
  }

  .imageContainer {
    height: 270px;
  }

  .header {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
  }

  .divider {
    background-color: rgba(#fff, 0.6);
  }

  .buttonContainer {
    margin: 1rem 0;
  }

  .ribbon {
    @include same(bottom left right, 0);
    position: absolute;

    border-radius: 0 0 $radius $radius;
    padding: 1rem 0;
    background-color: rgba(#000, 0.6);

    @include from(md) {
      padding: 2.3rem 0 1.55rem;
    }


  }
}
